node_modules
.vscode
.serverless
.tmp
.terraform
.idea/
dist/
*.iml
npm-debug.log
.env
config.json
.DS_Store
.webpack
/tsconfig.tsbuildinfo
documents/**
configs/prod.yml
configs/staging.yml
configs/dev.yml
configs/local.yml
configs/test.yml
!configs/example-dev.yml
